.user-wrapper.span11.clearfix
  .user-info-wrapper.span6.pull-left
    .user-contact.block.pull-left.well
      .image-wrapper
        = image_tag @user.photo
      .detail-info
        .info
          %em.icon-user
          = @user.name
        .info
          %em.icon-phone
          = @user.phone
        .info
          %em.icon-envelope
          = @user.email
        .info
          %em.icon-book
          = link_to @user.blog, @user.blog
        .info
          %em.icon-github
          = link_to @user.github, @user.github_homepage
        %hr
        .info.praise
          = simple_format @user.praise
    .user-skill.block.span2.pull-left.well
      - @user.skills.each do |skill|
        .skill
          %em.icon-check
          = skill.name
  .timeline-wrapper.span5.pull-right
    .timeline
      - @user.experiences.each do |experience|
        .experience-wrapper.clearfix
          .experience-time.pull-left
            = experience.start_at.strftime("%y.%m")
          .experience-content.block.well.pull-left
            .arrow-left
            %h5
              = experience.summary
              %hr
            = simple_format experience.detail
