= simple_form_for [@user, @project], :html => { :class => 'form-horizontal' } do |f|
  = f.input :name
  = f.input :url
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), user_projects_path(@user), :class => 'btn'
