%h1 Listing experiences

%table
  %tr
    %th Summary
    %th Detail
    %th
    %th
    %th

  - @experiences.each do |experience|
    %tr
      %td= experience.summary
      %td= experience.detail
      %td= link_to 'Show', user_experience_path(@user, experience)
      %td= link_to 'Edit', edit_user_experience_path(@user, experience)
      %td= link_to 'Destroy', user_experience_path(@user, experience), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Experience', new_user_experience_path
