%p#notice= notice

%p
  %b Summary:
  = @experience.summary
%p
  %b Detail:
  = @experience.detail

= link_to 'Edit', edit_user_experience_path(@user, @experience)
\|
= link_to 'Back', user_experiences_path(@user)
